
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-label {
  font-weight: bold;
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.text-danger {
  color: red;
}
.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.btn-success {
  background-color: #28a745;
}
.alert {
  padding: 10px;
  border-radius: 4px;
}
.alert-danger {
  background-color: #dc3545;
  color: #fff;
}
.server-table {
  border-collapse: collapse;
  width: auto;
  align-content: center;
}
.server-table th,
.server-table td {
  border: 1px solid black;
  padding: 8px;
  width: auto;
}
.server-table th {
  background-color: #f2f2f2;
}
.server-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.feature-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.feature-list li {
  margin-bottom: 5px;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  border-radius: 0;
  margin-right: 10px;
}
button:hover {
  padding: 8px 16px;
  background-color: #45a049;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.card-header {
  background-color: #f8f9fa;
  padding: 10px;
}
.card-body {
  padding: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-label {
  font-weight: bold;
}
.btn-success {
  background-color: #28a745;
  color: #fff;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.alert-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal-title {
  font-size: 18px;
  font-weight: bold;
}

.table-bordered {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
}


.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}


.table-bordered th,
.table-bordered td {
  vertical-align: top;
  border: 1px solid #dee2e6;
  padding: 8px;
}

.table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}


.error-message {
  color: red;
  font-size: 14px;
}

.feature-list {
  list-style-type: disc;
  padding: 0;
}

.table-label {
  font-weight: bold;
  width: auto;
}
.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: fit-content;
}

.modal-content {
  display: table;
  flex-direction: column;
  height: auto;
}

.modal-body {
  flex-grow: 2;
  overflow-x: auto;
  align-content: center;

}


/* options select */

.container {
  margin: 20px;
}

select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-top: 5px;
  padding: 5px;
  background-color: #f5f5f5;
  border-radius: 4px;
}

li:hover {
  background-color: #e0e0e0;
}

.feature-list {
  padding-left: 20px;
  margin: 0;
  list-style-type: none;
}

/* options select new */

.container {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
}


p {
  margin-bottom: 5px;
  font-size: 14px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
}
