<h1 class="mat-h1">Dashboard</h1>

<!-- Button trigger modal -->
<div class="button">
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#serverModal">
        <span> MANAGER SILA SERVER </span>
      </button>
    </div>
  </div>
</div>


<div class="container-fluid">
  <!-- Modal  show gateway-->
  <div class="modal fade" id="serverModal" tabindex="-1" aria-labelledby="ModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel1"> SERVER MANAGER </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="button-group">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddModal">
                + ADD SERVER
              </button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DiscoveryModal">
                Discovery Scan
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Gateway List  -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel2">Gateway List</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table server-table table-bordered" *ngIf="showTable">
            <thead>
              <tr>
                <th>Server UUID</th>
                <th>Server Name</th>
                <th>Server Type</th>
                <th>Description</th>
                <th>Features</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let serverInfo of serverInfoArray">
                <tr *ngIf="serverInfo.serveruuid === selectedServerUuid">
                  <td>{{ serverInfo.serveruuid }}</td>
                  <td>{{ serverInfo.serverName }}</td>
                  <td>{{ serverInfo.serverType }}</td>
                  <td>{{ serverInfo.description }}</td>
                  <td (click)="redirectToComponent()">
                    <ng-container *ngFor="let feature of serverInfo.features">
                      {{ feature }}
                      {{ gatewayFeatures }}
                    </ng-container>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- feature and server details  -->
  <div class="container">

    <label for="statusSelect">Select status:</label>
    <select id="statusSelect" [(ngModel)]="selectedStatus">
      <option value="online">Online</option>
      <option value="offline">Offline</option>
      <option value="any">Any</option>
    </select>

    <label for="serverSelect">Select server:</label>
    <select id="serverSelect" [(ngModel)]="selectedServerUuid">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option *ngIf="selectedStatus === 'online' || selectedStatus === 'offline'" [value]="serverInfo.serverName">
          {{ serverInfo.serverName }}
        </option>
      </ng-container>
    </select>

    <label for="featureSelect">Select feature:</label>
    <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
      (ngModelChange)="extractServiceName(selectedFeature)">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
          {{ feature }}
        </option>
      </ng-container>
    </select>

  </div>

  <!-- Server details -->
  <div class="container">
    <ng-container>
      <div class="container-fluid">
        <button *ngIf="selectedStatus === 'online'" type="button" class="btn btn-primary" data-bs-toggle="modal"
          data-bs-target="#exampleModal2">
          Selected server:{{ selectedServerUuid }}
        </button>
      </div>

      <div>
        <p *ngIf="serviceName ">
          Selected feature Identifier:<span>{{ serviceName }}</span>
        </p>
      </div>
    </ng-container>
  </div>

  <!-- Modal  Add server Host Localhost-->
  <div class="modal fade" id="AddModal" tabindex="-1" aria-labelledby="AddModal1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="AddModal1"> ADD SILA SERVER </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-8 mx-auto">
                <div class="card">
                  <div class="card-body">
                    <form class="form" [formGroup]="serverForm" (ngSubmit)="addServerSpec()">
                      <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td class="table-label">Host:</td>
                            <td>
                              <input type="text" id="host" formControlName="host" class="form-control" required>
                              <div *ngIf="serverFormControl['host'].errors?.required || submitted"
                                class="error-message">
                                Host is required.
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td class="table-label">Port:</td>
                            <td>
                              <input type="text" id="port" formControlName="port" class="form-control" pattern="[0-9]+"
                                required>
                              <div *ngIf="serverFormControl['port'].errors?.required || submitted"
                                class="error-message">
                                Port is required.
                              </div>
                              <div *ngIf="serverFormControl['port'].errors?.pattern|| submitted" class="error-message">
                                Port should be a numeric value.
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="form-group">
                        <button type="submit" [disabled]="serverForm.invalid" class="btn btn-primary">
                          ADD SERVER
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Discovery Scan-->
  <div class="container-fluid">
    <div class="modal fade" id="DiscoveryModal" tabindex="-1" aria-labelledby="myDiscoveryModalLabel1"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="myDiscoveryModalLabel1">Identifier Save </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <div class="card">
                    <div class="card-header">
                      <h3>Discovery</h3>
                    </div>
                    <div class="card-body">
                      <form class="form" [formGroup]="numberForm" (ngSubmit)="postDiscoverySpec1()">
                        <div class="form-group">
                          <label for="number" class="form-label">Time Out</label>
                          <input id="number" type="number" class="form-control" formControlName="number" />
                          <span class="text-danger"
                            *ngIf="numberFormControl['number'].invalid || (numberFormControl['number'].dirty && numberFormControl['number'].errors?.['required']) || submitted">
                            Number is required
                          </span>

                          <span class="text-danger" *ngIf="numberFormControl['number'].errors?.['min']">
                            Number must be greater than or equal to 0
                          </span>
                          <span class="text-danger" *ngIf="numberFormControl['number'].errors?.['max']">
                            Number must be less than or equal to 100
                          </span>
                        </div>

                        <div class="form-group">
                          <button
                            [disabled]="numberFormControl['number'].invalid || numberFormControl['number'].errors?.['min'] || numberFormControl['number'].errors?.['max']"
                            type="submit" class="btn btn-success">
                            Send
                          </button>
                          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                            {{ error }}
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Identifier</th>
          <th>Description</th>
          <th>Observable</th>
          <th>Data Type</th>
          <th>Defined Execution Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of featureDescription.properties">
          <td>{{ property.displayName }}</td>
          <td>{{ property.identifier }}</td>
          <td>{{ property.description }}</td>
          <td>{{ property.observable }}</td>
          <td>{{ property.dataType?.item }}</td>
          <td>
            <ul>
              <li *ngFor="let error of property.definedExecutionErrors">{{ error }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>