.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.container button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.feature-description {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}


.command {
  margin-bottom: 15px;
}

.command-details {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.parameters {
  margin-bottom: 10px;
}

.parameter {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}


.parameter-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.properties {
  margin-bottom: 10px;
}

.property-details {
  margin-left: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.property-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.data-types {
  margin-bottom: 10px;
}

.data-type-details {
  margin-left: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.data-type-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.metadata {
  margin-bottom: 10px;
}

.metadata-details {
  margin-left: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.metadata-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.defined-execution-errors {
  margin-bottom: 10px;
}

.response,
.intermediate-response,
.execution-errors {
  margin-bottom: 10px;
}



.response-title{
  font-weight: bold;
  margin-bottom: 5px;
}
