<!-- <div class="form-container">
  <h1> Command </h1>

  <form [formGroup]="obsCmdExecForm" (ngSubmit)="postObservableCommand()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" required>
      <div *ngIf="obsCmdExecFormFormControl.serverId.invalid && obsCmdExecFormFormControl.serverId.touched">
        <span *ngIf="obsCmdExecFormFormControl.serverId.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" required>
      <div *ngIf="obsCmdExecFormFormControl.featureId.invalid && obsCmdExecFormFormControl.featureId.touched">
        <span *ngIf="obsCmdExecFormFormControl.featureId.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" required>
      <div *ngIf="obsCmdExecFormFormControl.commandId.invalid && obsCmdExecFormFormControl.commandId.touched">
        <span *ngIf="obsCmdExecFormFormControl.commandId.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" rows="5"></textarea>
      <div *ngIf="obsCmdExecFormFormControl.body.invalid && obsCmdExecFormFormControl.body.touched">
        <span *ngIf="obsCmdExecFormFormControl.body.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="obsCmdExecForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="observableCommandExecution">
  <h3>Command Result:</h3> <pre>{{ observableCommandExecution|json}}</pre>
</div>


<button type="button" class="btn btn-primary" (click)=" extractServiceName(selectedFeature)">show command</button>

<div class="table">
  <label for="serverSelect">Select server:</label>
  <div id="serverSelect" [(ngModel)]="selectedServerUuid">
    <div *ngFor="let serverInfo of serverInfoArray">
        {{ serverInfo.serverName }}
    </div>
  </div>
  <label for="featureSelect">Select feature:</label>
  <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
    (ngModelChange)="extractServiceName(selectedFeature)">
    <ng-container *ngFor="let serverInfo of serverInfoArray">
      <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
        {{ feature }}
      </option>
    </ng-container>
  </select>
<ul>
    <li *ngFor="let command of featureDescription.commands">
      <div class="command-details">
        <p><strong>Identifier:</strong> {{ command.identifier }}</p>
        <p><strong>Display Name:</strong> {{ command.displayName }}</p>
        <p><strong>Description:</strong> {{ command.description }}</p>
        <p><strong>Observable:</strong> {{ command.observable }}</p>
        <ng-container *ngIf="command.parameter">
          <div class="parameters">
            <strong>Parameters:</strong>
            <ul>
              <li *ngFor="let parameter of command.parameter">
                <p><strong>Identifier:</strong> {{ parameter.identifier }}</p>
                <p><strong>Display Name:</strong> {{ parameter.displayName }}</p>
                <p><strong>Description:</strong> {{ parameter.description }}</p>
                <p><strong>DataType2:</strong> {{ parameter.dataType?.item?.dataType?.item }}</p>
                <div class="constraints">
                  <ul>
                    <li class="container-fluid" *ngIf="parameter.dataType?.item?.constraints">
                      <p><strong>length:</strong> {{ parameter.dataType?.item?.constraints.length || 'NULL' }}</p>
                      <p><strong>minimalLength:</strong> {{ parameter.dataType?.item?.constraints.minimalLength ||
                        'NULL' }}</p>
                      <p><strong>maximalLength:</strong> {{ parameter.dataType?.item?.constraints.maximalLength ||
                        'NULL' }}</p>
                      <p><strong>set:</strong> {{ parameter.dataType?.item?.constraints.set || 'NULL' }}</p>
                      <p><strong>pattern:</strong> {{ parameter.dataType?.item?.constraints.pattern || 'NULL' }}</p>
                      <p><strong>maximalExclusive:</strong> {{ parameter.dataType?.item?.constraints.maximalExclusive ||
                        'NULL' }}</p>
                      <p><strong>maximalInclusive:</strong> {{ parameter.dataType?.item?.constraints.maximalInclusive ||
                        'NULL' }}</p>
                      <p><strong>minimalExclusive:</strong> {{ parameter.dataType?.item?.constraints.minimalExclusive ||
                        'NULL' }}</p>
                      <p><strong>minimalInclusive:</strong> {{ parameter.dataType?.item?.constraints.minimalInclusive ||
                        'NULL' }}</p>
                      <p><strong>unit:</strong> {{ parameter.dataType?.item?.constraints.unit || 'NULL' }}</p>
                      <p><strong>contentType:</strong> {{ parameter.dataType?.item?.constraints.contentType || 'NULL' }}
                      </p>
                      <p><strong>elementCount:</strong> {{ parameter.dataType?.item?.constraints.elementCount || 'NULL'
                        }}</p>
                      <p><strong>minimalElementCount:</strong> {{
                        parameter.dataType?.item?.constraints.minimalElementCount || 'NULL' }}</p>
                      <p><strong>maximalElementCount:</strong> {{
                        parameter.dataType?.item?.constraints.maximalElementCount || 'NULL' }}</p>
                      <p><strong>fullyQualifiedIdentifier:</strong> {{
                        parameter.dataType?.item?.constraints.fullyQualifiedIdentifier || 'NULL' }}</p>
                      <p><strong>fullyQualifiedIdentifierSpecified:</strong> {{
                        parameter.dataType?.item?.fullyQualifiedIdentifierSpecified || 'NULL' }}</p>
                      <p><strong>allowedTypes:</strong> {{ parameter.dataType?.item?.constraints.allowedTypes || 'NULL'
                        }}</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </ng-container>

        <div class="response">
          <strong>Response:</strong>
          <ul>
            <li *ngFor="let response of command.response">
              <p><strong>Identifier:</strong> {{ response.identifier }}</p>
              <p><strong>Display Name:</strong> {{ response.displayName }}</p>
              <p><strong>Description:</strong> {{ response.description }}</p>
              <p><strong>DataType:</strong> {{ response.dataType?.item || 'null' }}</p>
            </li>
          </ul>
        </div>

        <div class="intermediate-response">
          <strong>Intermediate Response:</strong>
          <ul>
            <li *ngFor="let intermediateResponse of command.intermediateResponse">
              <p><strong>Identifier:</strong> {{ intermediateResponse.identifier }}</p>
              <p><strong>Display Name:</strong> {{ intermediateResponse.displayName }}</p>
              <p><strong>Description:</strong> {{ intermediateResponse.description }}</p>
              <p><strong>DataType:</strong> {{ intermediateResponse.dataType?.item }}</p>
            </li>
          </ul>
        </div>

        <div class="execution-errors">
          <strong>Defined Execution Errors:</strong>
          <ul>
            <li *ngFor="let error of command.definedExecutionErrors">{{ error }}</li>
          </ul>
        </div>
      </div>
    </li>
</ul>
</div> -->


<h1 class="mat-h1">Command</h1>

<div class="container-fluid">
  <!-- feature and server details  -->
  <div class="container">
    <label for="serverSelect">Select server:</label>
    <select class="form-select" aria-label="Default select" id="serverSelect" [(ngModel)]="selectedServerUuid">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option >
          {{ serverInfo.serverName }}
        </option>
      </ng-container>
    </select>

    <label for="featureSelect">Select feature:</label>
    <select class="form-select" aria-label="Default select" id="featureSelect" [(ngModel)]="selectedFeature"
      (ngModelChange)="extractServiceName(selectedFeature)">
      <ng-container *ngFor="let serverInfo of serverInfoArray">
        <option selected *ngFor="let feature of serverInfo.features" [value]="feature">
          {{ feature }}
        </option>
      </ng-container>
    </select>
  </div>
</div>

<div class="container-fluid">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Display Name</th>
          <th>Description</th>
          <th>Observable</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let command of featureDescription.commands">
          <td>{{ command.displayName }}</td>
          <td>{{ command.description }}</td>
          <td>{{ command.observable }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="form-container">
  <h1>Unobservable Command</h1>

  <form [formGroup]="commandForm" (ngSubmit)="postCommand()">
    <div>
      <label for="serverId">Server ID:</label>
      <input type="text" id="serverId" formControlName="serverId" required>
      <div *ngIf="commandForm.get('serverId')?.invalid && commandForm.get('serverId')?.touched">
        <span *ngIf="commandForm.get('serverId')?.errors?.required">Server ID is required.</span>
      </div>
    </div>
    <div>
      <label for="featureId">Feature ID:</label>
      <input type="text" id="featureId" formControlName="featureId" required>
      <div *ngIf="commandForm.get('featureId')?.invalid && commandForm.get('featureId')?.touched">
        <span *ngIf="commandForm.get('featureId')?.errors?.required">Feature ID is required.</span>
      </div>
    </div>
    <div>
      <label for="commandId">Command ID:</label>
      <input type="text" id="commandId" formControlName="commandId" required>
      <div *ngIf="commandForm.get('commandId')?.invalid && commandForm.get('commandId')?.touched">
        <span *ngIf="commandForm.get('commandId')?.errors?.required">command ID is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea id="body" class="form-control" formControlName="body" rows="5"></textarea>
      <div *ngIf="commandForm.get('body')?.invalid && commandForm.get('body')?.touched">
        <span *ngIf="commandForm.get('body')?.errors?.required"> body is required.</span>
      </div>
    </div>

    <button type="submit" [disabled]="commandForm.invalid">Submit</button>
  </form>
</div>

<div *ngIf="commandResult">
  <h3>unobserved Command Result:</h3> <pre>{{ commandResult|json}}</pre>
</div>

<div *ngIf="observableCommandExecution">
  <h3>observer Command Result:</h3> <pre>{{ observableCommandExecution|json}}</pre>
</div>











