
<!--<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>Menu</mat-icon>
  </button>
  <span class="example-toolbar-title">My App</span>
</mat-toolbar>

<mat-drawer-container class="example-container" [autosize]="autosize">
  <mat-drawer #drawer [opened]="false" mode="push" position="start">
    <mat-nav-list>
        <a class="nav-link text-dark" [routerLinkActive]="['link-active']"
        [routerLink]="['/connectionConfiguration']">Connection Config</a>

      <a mat-list-item routerLink="" routerLinkActive="active">
        <span mat-line>Home</span>
      </a>
      <a mat-list-item routerLink="slider" routerLinkActive="active">
        <span mat-line>Slider</span>
      </a>
      <a mat-list-item>
        <span mat-line> analytics</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>-->


<div class="container-fluid">
  <div class="row">
    <div class="col-3 bg-dark sidenav">
      <!-- Sidenav content goes here -->
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/feature'">Menu Item 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu2">Menu Item 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/menu3">Menu Item 3</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="content">
        <!-- Content goes here -->
        <h1>Welcome to the Angular Sidenav Example</h1>
        <p>This is the content area.</p>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>